<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Portal de notícias</title>
</head>

<body>

	<h1><%= noticia[0].titulo %></h1>
	<%= noticia[0].noticia %>

</body>

</html>